<div class="col-sm-4">
  <%= image_tag 'https://picsum.photos/200/200', class: 'card-img-top' %>
  <div class="card-body">
    <h5 class="card-title"><%= product.title %></h5>
    <p class="card-text text-truncate"><%= product.description %>></p>
    <p class="badge bg-warning text-dark">платить денег: <%= product.price %>></p>
    <hr>
    <!--< %= link_to 'View Product', category_product_path(@category, product) %> -->
  </div>
</div>